#outer {
    border: 5px solid #eee;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
}

#inner {
    border: 5px solid #aaa;
    color: #aaa;
    cursor: pointer;
    font-size: 25px;
    font-family: sans-serif;
    height: 100px;
    line-height: 95px;
    position: absolute;
    text-align: center;
    width: 200px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
